<div *ngIf="user" class="card">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top img-fluid img-thumbnail" [src]="user.avatar_url" alt="User avatar">
            <a class="btn btn-success btn-block" href="{{user.html_url}}" target="_blank">View Profile</a>
        </div>
        <div class="col-md-8">
            <h4 class="card-title">{{user.name}}</h4>
            <span *ngIf="user.public_repos" class="tag tag-primary">{{user.public_repos}} Public repos</span>
            <span *ngIf="user.public_gists" class="tag tag-success">{{user.public_repos}} Public repos</span>
            <span *ngIf="user.followers" class="tag tag-info">{{user.public_repos}} Public repos</span>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"><strong>username :</strong>
                    <span>{{user.login}}</span>
                </li>
                <li class="list-group-item"><strong>location :</strong>{{user.location}}</li>
            </ul>
        </div>
    </div>
</div>